/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
 background-color: lightgrey;


 font-family: 'Quicksand', sans-serif;;

}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.container {
  max-width: 1200px;
width: 100%;
  margin:auto;

}
.flexrow {
  display: flex;
  flex-direction: row;
  width: 100%;

  flex-wrap: wrap;
  flex-grow: 1;

}
.flexrow2 {
  display: flex;
  flex-direction: row;
  width: 100%;
	height: 85vh;
  flex-wrap: nowrap;
  flex-grow: 1;


}
.flexcolumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: auto;
  margin-bottom: auto

}
.flexcolumn a{
  display: flex;
  flex-grow: 2;
}
.card {
  display: flex;
  flex-grow: 1;
  margin: 08px;
  border-radius: 6px;
  min-width: 300px;
  min-height: 350px;
}
.card h1 {
  font-size: 200%;
  padding: 20px;
  margin: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;}
.hover {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: rgba(47, 47, 47, 0.66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 100;
    transition: all 1s;
    padding: 0 20%;
    flex-grow: 2;
    border-radius: 6px;
}

.hover * {
   margin:  10px 0;

}

.hover:hover {
  background-color: rgba(57, 255, 20, 0.4);
}


header {
  width: 100%;
	height: 85vh;
  display: flex;
	justify-content: center;
	background-image: url(img/body.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
}
.cursos {
	height: auto;
}
.header50 {
	height: 50vh;
}
.header{
	width: 100%;
	height: 85vh;
	text-align: center;
	justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.header2{
	width: 100%;
	text-align: center;
	justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.header h1 {
  font-size: 300%;
  color: green;
  padding: 25px;
  margin:25px ;
  font-family: 'Quicksand', sans-serif;
  font-style: bold;
  font-weight: 700;
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 80%


}
.header2 h1 {
  font-size: 300%;
  color: green;
  padding: 25px;
  margin:25px ;
  font-family: 'Quicksand', sans-serif;
  font-style: bold;
  font-weight: 700;

}
.header h2{
  font-size: 200%;
 font-family: 'Quicksand', sans-serif;

}
.header p {
  font-family: 'Quicksand', sans-serif;
  font-size: 125%;
  text-align: justify;
  margin: 10px;
  padding: 10px;

}
.header2 h2{
  font-size: 200%;
 font-family: 'Quicksand', sans-serif;

}
.header2 p {
  font-family: 'Quicksand', sans-serif;
  font-size: 125%;
  text-align: justify;
  margin: 10px;
  padding: 10px;

}
#jardins {
	background-image: url("img/card7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}
#verticais {
	background-image: url("img/card8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#paisagismo {
	background-image: url("img/card9.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
 #aqua {
	 background-image: url("img/card10.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
 }
#pequenosEspacos {
	background-image: url("img/card10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#cverticais {
	background-image: url("img/card10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#cvasos {
	background-image: url("img/card10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#medicinais {
	background-image: url("img/card10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#ecologica {
	background-image: url("img/card10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#intro {
	background-image: url("img/card10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#pancs {
	background-image: url("img/card10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#urban {
	background-image: url("img/card10.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
 #empresa{
	background-image: url("img/card1.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-position: center;

 }
.textblock {
    background-color: #8FD8B0;
  border-radius: 6px;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

  width: 100vw;

	background-color: lightgrey;


}
.navrow {display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
}
.navrow li {
 padding: 10px;
 font-family: 'Quicksand', sans-serif;
 font-weight: 700;
 font-style: bold;
}
section{
 font-family: 'Quicksand', sans-serif;
}
.txt {
  width: 50%;
  text-align: justify;
}
.txt p {
  margin: 10px;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
	position: sticky;
  top:0;
}
.nav2{
  display: flex;
  flex-direction: row;
  justify-content: center;



}
.grow2{
	display: flex;
	flex-grow: 2;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
}
.grow0 h1 {
	font-size: 250%;
	color: green;
}
.grow0 {
	display: flex;
	flex-grow: 0;
	flex-direction: column;
	justify-content: center;

}
.grow1 {
	display: flex;
	flex-grow: 1;
}
.grow3 {
	display: flex;
	flex-grow: 3;
}
.card1{
  background-image: url("img/card1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center

}
.card2{
  background-image: url("img/card2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.card3{
  background-image: url("img/card3.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.card4{
  background-image: url("img/card4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.card5{
  background-image: url("img/card5.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.card6{
  background-image: url("img/card6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.card7{
  background-image: url("img/card7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.card8{
  background-image: url("img/card8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card9{
  background-image: url("img/card9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}
.card10{
  background-image: url("img/card10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}



section {
  display: flex;
}
.contact{
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%


}
.contact h1 {
  font-size: 300%;
  color: lightgrey;
  padding: 25px;

  margin:15px ;
  font-family: 'Quicksand', sans-serif;
  font-style: bold;
  font-weight: 700;


}
.contact h2{
  margin: 20px;
  font-size: 200%;
 font-family: 'Quicksand', sans-serif;
 font-weight: 700;
 font-style: bold;


}
.contact h3{
  font-size: 180%;
 font-family: 'Quicksand', sans-serif;

}

.contact p {
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  margin: 10px;
  padding: 10px;
}

.objetivo {
	font-weight: 700;
  font-style: bold;
}
.textcard {
	max-width: 500px;
}
@media (min-width: 1200px) {
	.card {
		width: 25%
	}
}
@media (max-width: 1200px) {
	.flexrow2 {
		flex-wrap: wrap;
		height: auto;
	}
	.card {
		width: 50%
	}
}
@media (max-width: 768px) {
	.card{
		width: 100%;
	}
	.flexrow2 h1 {
		font-size: 400%;
	}
	.header2 h1 {
		font-size: 400%;
	}
	.header h2 {
		font-size: 250%;

	}
	.header p {
		font-size: 175%;
	}
	.header2 h2 {
		font-size: 250%;
	}
	.header2 p {
		font-size: 175%;
	}
}
footer {
	width: 100vw;
	height: auto;
	background-color: rebeccapurple;
}
.navitem {
	background-color: black;
	color: white;
	border-radius: 40px;
	padding-left: 3px;
	padding-right: 3px;

}
