/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
 background-color: lightgrey;
  

 font-family: 'Quicksand', sans-serif;;

}
section {  
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.container {
  max-width: 1200px;
width: 100%;
  margin:auto;

}
.flexrow {
  display: flex;
  flex-direction: row;
  width: 100%;
 
  flex-wrap: wrap;
  flex-grow: 1;
 
}
.flexcolumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: auto;
  margin-bottom: auto

}
.flexcolumn a{
  display: flex;
  flex-grow: 2;
}
.card {
  display: flex;
  flex-grow: 2;
  margin: 08px;
  border-radius: 6px;
  min-width: 300px;
  min-height: 350px;
}
.card h1 {
  font-size: 250%;
  padding: 20px;
  margin: 20px;
  color: white;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;}
.hover {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: rgba(47, 47, 47, 0.66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 100;
    transition: all 1s;
    padding: 0 20%;
    flex-grow: 2;
    border-radius: 6px;
}

.hover * {
   margin:  10px 0;

}

.hover:hover {
  background-color: rgba(57, 255, 20, 0.4);
}


header {
  width: 100vw;
 
  display: flex;
  justify-content: center;
}
.header{
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center
  
 

}
.header h1 {
  font-size: 300%;
  color: green;
  padding: 25px;
  
  margin:25px ;
  font-family: 'Quicksand', sans-serif;
  font-style: bold;
  font-weight: 700;
  

}
.header h2{
  font-size: 200%;
 font-family: 'Quicksand', sans-serif;

}
.header p {
  font-family: 'Quicksand', sans-serif;
  font-size: 125%;
  text-align: justify;
  margin: 10px;
  padding: 10px;

}
.textblock {
    background-color: #8FD8B0;
  border-radius: 6px;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav {
 
  width: 100vw;
  position: sticky;
  top:0;
  background-color: lightgrey;


}
.navrow {display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
}
.navrow li { 
 padding: 10px;
}
section{
 font-family: 'Quicksand', sans-serif;
}
.txt {
  width: 50%;
  text-align: justify;
}
.txt p {
  margin: 10px;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  ;
}
.card1{
  background-image: url("img/card1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center

}
.card2{
  background-image: url("img/card2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 
}
.card3{
  background-image: url("img/card3.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 
}
.card4{
  background-image: url("img/card4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 
}
.card5{
  background-image: url("img/card5.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 
}
.card6{
  background-image: url("img/card6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 
}
.card7{
  background-image: url("img/card7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 
}
.card8{
  background-image: url("img/card8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 
}
.card9{
  background-image: url("img/card9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 
}
.card10{
  background-image: url("img/card10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 
}



section {
  display: flex;
}
.contact{
  margin-top: 20px;
  text-align: center;
  background-color: #50C878;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%
 

}
.contact h1 {
  font-size: 300%;
  color: lightgrey;
  padding: 25px;
  
  margin:25px ;
  font-family: 'Quicksand', sans-serif;
  font-style: bold;
  font-weight: 700;
  

}
.contact h2{
  margin: 15px;
  font-size: 200%;
 font-family: 'Quicksand', sans-serif;
 font-weight: 700;
 font-style: bold;

}
.contact h3{
  font-size: 180%;
 font-family: 'Quicksand', sans-serif;

}

.contact p {
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  margin: 10px;
  padding: 10px;
